VORIM_CLIENT_ID=
VORIM_CLIENT_SECRET=
VORIM_AGENT_ID=agid_vorim_demo_agent_001

VORIM_ISSUER_PRIVATE_KEY=
ZEKO_DEPLOYER_PRIVATE_KEY=
ZEKO_ZKAPP_PRIVATE_KEY=
ZEKO_GRAPHQL_URL=https://testnet.zeko.io/graphql
ZEKO_ARCHIVE_URL=https://archive.testnet.zeko.io/graphql
ZEKO_ZKAPP_ADDRESS=
